Library/PlayerDataCache/Data/sharedassets4.assets.resS
Library/PlayerDataCache/Data/sharedassets6.assets.resS
Assets/Recursos/"Stylized Nature Pack"/Terrain/ground_A_4.psd
Assets/Recursos/"Stylized Nature Pack"/Terrain/ground_B_normal.psd
Assets/Recursos/"Stylized Nature Pack"/Stones/Detail Textures/stone_detail_albedo.psd


