Library/PlayerDataCache/*
Assets/Recursos/Stylized Nature Pack/Terrain/ground_A_4.psd
Assets/Recursos/Stylized Nature Pack/Terrain/ground_B_normal.psd
Assets/Recursos/Stylized Nature Pack/Stones/Detail Textures/stone_detail_albedo.psd
Assets/Recursos/Stylized Nature Pack/Stones/Tiling Stone Material/Textures/tiling_stone_occlusion.psd
Temp/*
Temp
Library/*
Library/metadata/*


Library/metadata/00/00000000000000002000000000000000
*.info
# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
