Library/PlayerDataCache/*
Assets/Recursos/Stylized Nature Pack/Terrain/ground_A_4.psd
Assets/Recursos/Stylized Nature Pack/Terrain/ground_B_normal.psd
Assets/Recursos/Stylized Nature Pack/Stones/Detail Textures/stone_detail_albedo.psd
Assets/Recursos/Stylized Nature Pack/Stones/Tiling Stone Material/Textures/tiling_stone_occlusion.psd
Temp/*
Temp
Library/*
Library/metadata/*


Library/metadata/00/00000000000000002000000000000000
*.info
